In [1]:
from IPython.display import IFrame  
wikiLink="https://en.wikipedia.org/wiki/List_of_countries_by_percentage_of_population_living_in_poverty" 
IFrame(wikiLink, width=900, height=500)

In [2]:
import pandas as pd

wikiTables=pd.read_html(wikiLink, # link
                        #header=0, # where is the header?
                        flavor='bs4', # helper to translate html
                        attrs={'class': 'wikitable sortable'}) # attributes to identify element(s)

In [3]:
wikiTables[0]

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [4]:
TJdata=wikiTables[0]

In [8]:
TJdata

         Country < $1.90[1] < $3.20[5] < $5.50[6]    Year      Continent
0    Afghanistan        NaN        NaN        NaN     NaN           Asia
1        Albania       1.3%       8.2%      33.8%  2017.0         Europe
2        Algeria       0.4%       3.7%      28.6%  2011.0         Africa
3        Andorra        NaN        NaN        NaN     NaN         Europe
4         Angola      51.8%      73.2%      89.3%  2018.0         Africa
..           ...        ...        ...        ...     ...            ...
191    Venezuela      10.2%      17.8%      35.6%  2006.0  South America
192      Vietnam       1.9%       7.0%      23.6%  2018.0           Asia
193        Yemen      18.8%      52.2%      81.6%  2014.0           Asia
194       Zambia      57.5%      74.3%      87.2%  2015.0         Africa
195     Zimbabwe      21.4%      47.2%      74.0%  2011.0         Africa

[196 rows x 6 columns]

In [9]:
TJdata=TJdata.iloc[:,[0,3,5]]

In [11]:
TJdata

         Country < $5.50[6]      Continent
0    Afghanistan        NaN           Asia
1        Albania      33.8%         Europe
2        Algeria      28.6%         Africa
3        Andorra        NaN         Europe
4         Angola      89.3%         Africa
..           ...        ...            ...
191    Venezuela      35.6%  South America
192      Vietnam      23.6%           Asia
193        Yemen      81.6%           Asia
194       Zambia      87.2%         Africa
195     Zimbabwe      74.0%         Africa

[196 rows x 3 columns]

In [10]:
change={'< $5.50[6]':'lessthan5_50'}

In [11]:
TJdata.rename(columns=change,inplace=True)

/Users/tejaswinivijapurapu/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [12]:
TJdata

         Country lessthan5_50      Continent
0    Afghanistan          NaN           Asia
1        Albania        33.8%         Europe
2        Algeria        28.6%         Africa
3        Andorra          NaN         Europe
4         Angola        89.3%         Africa
..           ...          ...            ...
191    Venezuela        35.6%  South America
192      Vietnam        23.6%           Asia
193        Yemen        81.6%           Asia
194       Zambia        87.2%         Africa
195     Zimbabwe        74.0%         Africa

[196 rows x 3 columns]

In [13]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    object
 2   Continent     196 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB

In [14]:
TJdata.lessthan5_50.str.replace('%','')

0       NaN
1      33.8
2      28.6
3       NaN
4      89.3
       ...
191    35.6
192    23.6
193    81.6
194    87.2
195    74.0
Name: lessthan5_50, Length: 196, dtype: object

In [15]:
TJdata['lessthan5_50']=TJdata.lessthan5_50.str.replace('%','')

<ipython-input-15-4ec947431cdb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TJdata['lessthan5_50']=TJdata.lessthan5_50.str.replace('%','')

In [16]:
TJdata

         Country lessthan5_50      Continent
0    Afghanistan          NaN           Asia
1        Albania         33.8         Europe
2        Algeria         28.6         Africa
3        Andorra          NaN         Europe
4         Angola         89.3         Africa
..           ...          ...            ...
191    Venezuela         35.6  South America
192      Vietnam         23.6           Asia
193        Yemen         81.6           Asia
194       Zambia         87.2         Africa
195     Zimbabwe         74.0         Africa

[196 rows x 3 columns]

In [17]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    object
 2   Continent     196 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB

In [18]:
TJdata.lessthan5_50.astype('float')

0       NaN
1      33.8
2      28.6
3       NaN
4      89.3
       ...
191    35.6
192    23.6
193    81.6
194    87.2
195    74.0
Name: lessthan5_50, Length: 196, dtype: float64

In [19]:
TJdata['lessthan5_50']=TJdata.lessthan5_50.astype('float')

<ipython-input-19-67f70220e6e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TJdata['lessthan5_50']=TJdata.lessthan5_50.astype('float')

In [20]:
TJdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       196 non-null    object
 1   lessthan5_50  164 non-null    float64
 2   Continent     196 non-null    object
dtypes: float64(1), object(2)
memory usage: 4.7+ KB

In [21]:
TJdata

         Country  lessthan5_50      Continent
0    Afghanistan           NaN           Asia
1        Albania          33.8         Europe
2        Algeria          28.6         Africa
3        Andorra           NaN         Europe
4         Angola          89.3         Africa
..           ...           ...            ...
191    Venezuela          35.6  South America
192      Vietnam          23.6           Asia
193        Yemen          81.6           Asia
194       Zambia          87.2         Africa
195     Zimbabwe          74.0         Africa

[196 rows x 3 columns]

In [22]:
TJdata.to_csv('TJdata.csv',index=False)

In [24]:
TJdata

         Country  lessthan5_50      Continent
0    Afghanistan           NaN           Asia
1        Albania          33.8         Europe
2        Algeria          28.6         Africa
3        Andorra           NaN         Europe
4         Angola          89.3         Africa
..           ...           ...            ...
191    Venezuela          35.6  South America
192      Vietnam          23.6           Asia
193        Yemen          81.6           Asia
194       Zambia          87.2         Africa
195     Zimbabwe          74.0         Africa

[196 rows x 3 columns]